.custom-table {
    padding-top: 10px;
    padding-bottom: 10px;
}

.custom-th-status {
  text-align: left;
}

.on-sm {
  background-color: #1e7e34;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: small;
}

.off-sm {
  border-color: #343a40;
  border: 1px solid;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.maintenance-sm {
  background-color: #ffc107;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: small;
}

.outoforder-sm {
  background-color: #bd2130;
  border-radius: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: small;
}

.bar-chart {
  width: 100%;
  border-radius: 3px;
  padding: 20px;
}

.bar {
  float: left;
  height: 1em;
  font-size: x-small;
}

.on-bar {
  background-color: #1e7e34;
}

.off-bar {
  border-color: #343a40;
  border: 1px solid;
}

.maintenance-bar {
  background-color: #ffc107;
}

.outoforder-bar {
  background-color: #bd2130;
}

.bar-text {
  float: right;
}
