.custom-button {
  margin: 10px;
}

.custom-carousel {
  margin: 10px;
  width: 100%;
}

.custom-manual {
  padding-right: 10px;
}

.on {
  background-color: #1e7e34;
  border-radius: 3px;
  margin-right: 20px;
  padding-right: 30px;
}

.off {
  border-color: #343a40;
  border-radius: 3px;
  margin-right: 19px;
  padding-right: 29px;
  border: 1px solid;
}

.maintenance {
  background-color: #ffc107;
  border-radius: 3px;
  margin-right: 20px;
  padding-right: 30px;
}

.outoforder {
  background-color: #bd2130;
  border-radius: 3px;
  margin-right: 20px;
  padding-right: 30px;
}